html, body{
    min-height: 100vh;
    position: sticky;
}

body.login{
    background-color:rgb(65, 111, 172);
}

body.index{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../Images/gray.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body.manage{
    background-color: #252e5e;
}

body.insert{
    background-color: #9f1224;
}

body.update{
    background-color: #3b3a6d;
}

body.delete{
    background-color: #252e5e;
}

body.order{
    background-color: #9f1224;
}


.text{
    text-align: center;
}

div.form-css{
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 30px;
}

.user-css{
    width: 500px;
    margin: auto;
    background: white;
    padding: 30px;
}

.web-grid{
    display: grid;
    grid-template-rows: auto auto auto 40px;
    min-height: 100vh;

}


.navbar-grid{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto;
    grid-row: 1;
    border-bottom: solid 1px black;
}

.footer{
    grid-column: 1;
    display: grid;
    grid-template-columns: auto;
    border-top: solid 1px black;
}

.footer-text{
    grid-row: 1;
    grid-column: 1;
    color: white;
}

/* .center-grid{
    grid-column: 2;
} */

.left-grid{
    grid-column: 1;
    grid-row: 1;
}

/* .center-grid{
    text-align: center;
    display: inline-block;
} */

.fort{
    grid-column: 2/5;
    grid-row: 1;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    color: black;
    text-shadow: 2px 2px white;
    font-family: 'Erica One', cursive;
    margin-top: auto;
}

.Home{
    grid-column: 2;
    grid-row: 2;
    margin-left: auto;
}

.Manage{
    grid-column: 3;
    grid-row: 2;
    margin-left: auto;
}

.Orders{
    grid-column: 4;
    grid-row: 2;
    margin-left: auto;
}

.right-grid{
    grid-column: 5;
    grid-row: 2;
    margin: auto;
}

#link{
    margin-top: auto;
    font-size: 30px;
    text-align: center;
    color: white;
}

.info-grid{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin: 70px;
}

.service{
    grid-column: 1;
    grid-row: 1;
    margin-right: auto;
}

.repair{
    grid-column: 1;
    grid-row: 1;
}

.paper{
    grid-column: 1;
    grid-row: 3;
    margin-right: auto;
}

.img-repair{
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.serivce-info {
    margin-top: 50px;
}

.paper-info {
    margin: auto;
    grid-column: 1;
    grid-row: 2;
}
.repair-info {
    grid-column: 1;
    grid-row: 3;
    margin-top: 50px;
}


#style-font{
    font-size: 30px;
}

.p-services,.p-papers{
    text-align: center;
}

.table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.order-title{
    grid-row: 2;
}

.view{
    grid-row: 3;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin-top: 24px;
    margin-bottom: 24px;
}

/* management */
    /* Menu */
        .users-grid{
            display: grid;
            grid-column: 1;
            grid-row: 2;
            grid-template-columns: 1;
            grid-template-rows: auto 76vh;
        }
        
        .users-text{
            grid-column: 1;
            grid-row: 1;
            color: white;
        }
        
        .users-table{
            grid-column: 1;
            grid-row: 2;
            margin-left: auto;
            margin-right: auto;
            margin-top: 24px;
            margin-bottom: 24px;
        }
        
        .form-input{
            display: none;
        }
        
        .add-user{
            grid-column: 1;
            grid-row: 1;
            margin-left: auto;
            margin-top: 5px;
        }    

    /* Menu */

    /* management options */
        .insert-grid{
            display: grid;
            grid-column: 1;
            grid-row: 2;
            grid-template-columns: 1;
            grid-template-rows: auto 70vh 50px;
        }

        .insert-text{
            grid-column: 1;
            grid-row: 1;
            color: white;            
        }

        .insert-content{
            grid-column: 1;
            grid-row: 2;
        }

        .update-grid{
            display: grid;
            grid-column: 1;
            grid-row: 2;
            grid-template-columns: 1;
            grid-template-rows: auto 85vh 50px;
        }

        .update-text{
            grid-column: 1;
            grid-row: 1;
            color: white;            
        }

        .update-content{
            grid-column: 1;
            grid-row: 2;
            
        }

        .update-background{
            grid-row: 1;
        }


    /* management options */

/* Management */

/* Orders */

    .orders-grid{
        display: grid;
        grid-column: 1;
        grid-row: 2;
        grid-template-columns: 1;
        grid-template-rows: auto auto;
    }

    .orders-text{
        grid-column: 1;
        grid-row: 1;
        color: white;
    }

    .orders-table{
        grid-column: 1;
        grid-row: 2;
        margin-left: auto;
        margin-right: auto;
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .table, th, td {
        border: 2px solid black;
        border-collapse: collapse;
        padding: 5px;
        background: white;
            }



    /* .view{
        grid-row: 3;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        margin-top: 24px;
        margin-bottom: 24px;
    } */




/* Orders */

.form-input{
    display: none;
}

@media only screen and (max-width: 896px){
    #link{
        font-size: 15px;
        margin-right: auto;
    }
}

@media only screen and (max-width: 689px){
    
}
   